/*--------------------------------------------------------------
## CURSOR STYLING
--------------------------------------------------------------*/
.cursor {
	position: fixed;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: opacity, transform;
  transform-origin: 150% 150%;
  color: #fff;
  font-size: 15px;
  opacity: 0;
  &.active {
  	opacity: 1;
  }
}
.with-cursor {
  .link {
    cursor: none; 
  }
}