/*--------------------------------------------------------------
## GLOBAL STYLING
--------------------------------------------------------------*/

/*================ Font styles ================*/

@font-face {
  font-family: "CommonSans";
  src: url("../../static/fonts/CommonSans-Regular.woff")   format("woff");
} 
@font-face {
  font-family: "FreightBigPro";
  src: url("../../static/fonts/Freight-BigLight.woff")   format("woff");
} 

/*================ Font styles ================*/


body {
	font-family: "CommonSans";
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

.app {
	background-color: #fff;
	&.released {
		transform: none !important;
		height: auto !important;
		overflow: visible;
	}
}

/*================ Font styles ================*/

h2, .h2 {
	font-family: "FreightBigPro";
	font-weight: 100;
	margin: 0px;
	font-size: 42px;
	line-height: 1.35;
	.common {
		font-size: 36px;
		@media (max-width: $nine) {
			font-size:26px;
		}
		@media (max-width: $seven) {
			font-size:22px;
		}
	}
	@media (max-width: $nine) {
		font-size:32px;
	}
	@media (max-width: $seven) {
		font-size:26px;
	}
} 
h3, .h3 {
	font-family: "FreightBigPro";
	font-weight: 100;
	margin: 0px;
	font-size: 28px;
	margin-bottom: 20px;
	line-height: 1.35;
}

.common {
	font-family: "CommonSans";
}

p {
	font-size: 15px;
	color:#9e9e9e;
}

.text-black {
	color:$black;
}

/*================ Link styles ================*/

.link {
	box-shadow: none;
	text-decoration: none;
}

.page-link {
	color:$grey-100;
	box-shadow: none;
	text-decoration: none;
	svg {
		margin-left: 10px;
		transform: translateY(2.5px);
		path {
			fill:$grey-100;
		}
	}
}

/*================ Images styles ================*/

img[aria-hidden="true"] {
	filter: blur(30px);
}

/*================ Display styles ================*/

.flex {
	display: flex;
	@media (max-width: $seven) {
		flex-wrap: wrap;
	}
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-self--start {
	align-self: flex-start;
}

.align-self--center {
	align-self: center;
}

.align-self--bottom {
	align-self: flex-end;
}

.justify-center {
	justify-content: center;
}

.width-100 {
	width: 100%;
}

.half {
	width: 50%;
	@media (max-width: $seven) {
		width: 100%;
	}
}

/*================ Padding styles ================*/

.m0 {
	margin: 0px;
}

.mb0 {
	margin-bottom: 0px;
}
.mb1 {
	margin-bottom: $spacing;
}

.mt0 {
	margin-top: 0px;
}

.ma {
	margin:auto;
}

.mla {
	margin-left:auto;
}

.mra {
	margin-right:auto;
}


/*================ Padding styles ================*/

.p1 {
	padding: $spacing;
}
.pt1 {
	padding-top: $spacing;
}
.pl1 {
	padding-left: $spacing;
	@media (max-width: $seven) {
		padding-left: 0px;
	}
}
.pl2 {
	padding-left: $spacing*2;
	@media (max-width: $seven) {
		padding-left: 0px;
	}
}

.pr1 {
	padding-right: $spacing;
	@media (max-width: $seven) {
		padding-right: 0px;
	}
}

/*================ Border styles ================*/

.br1 {
	border-right: 1px solid $grey;
	@media (max-width: $seven) {
		border-right: none;
	}
}
.bb1 {
	border-bottom: 1px solid $grey;
}

/*================ Image styles ================*/

.image-full {
	min-height: 100vh;
	object-fit: cover;
	object-position: center center;
}

/*================ Mobile styles ================*/

.m-100 {
	@media (max-width: $seven) {
		width: 100%;
	}
}