/*--------------------------------------------------------------
## GLOBAL STYLING
--------------------------------------------------------------*/

/*================ Font styles ================*/

@font-face {
  font-family: "CommonSans";
  src: url("../../static/fonts/CommonSans-Regular.woff")   format("woff");
} 
@font-face {
  font-family: "FreightBigPro";
  src: url("../../static/fonts/Freight-BigLight.woff")   format("woff");
} 

/*================ Font styles ================*/


body {
	font-family: "CommonSans";
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

.app {
	background-color: #fff;
	&.released {
		transform: none !important;
		height: auto !important;
		overflow: visible;
	}
}

/*================ Font styles ================*/

.h0 {
	font-family: "FreightBigPro";
	font-weight: 100;
	margin: 0px;
	font-size: 120px;
	line-height: 1.35;
}

h1, .h1 {
	font-family: "FreightBigPro";
	font-weight: 100;
	margin: 0px;
	font-size: 60px;
	line-height: 1.35;
	@media (max-width: $nine) {
		font-size:48px;
	}
	@media (max-width: $seven) {
		font-size:32px;
	}
}
h2, .h2 {
	font-family: "FreightBigPro";
	font-weight: 100;
	margin: 0px;
	font-size: 42px;
	line-height: 1.35;
	.common {
		font-size: 36px;
		@media (max-width: $nine) {
			font-size:26px;
		}
		@media (max-width: $seven) {
			font-size:22px;
		}
	}
	@media (max-width: $nine) {
		font-size:32px;
	}
	@media (max-width: $seven) {
		font-size:26px;
	}
} 
h3, .h3 {
	font-family: "FreightBigPro";
	font-weight: 100;
	margin: 0px;
	font-size: 28px;
	margin-bottom: 20px;
	line-height: 1.35;
}

.common {
	font-family: "CommonSans";
}

p {
	font-size: 15px;
	color:#9e9e9e;
}

.text-black {
	color:$black;
}
.text-grey {
	color:#9e9e9e;
}
.text-white {
	color:#fff;
}

.text-center {
	text-align: center;
}

/*================ Link styles ================*/

.link {
	box-shadow: none;
	text-decoration: none;
}

.page-link {
	color:$grey-100;
	box-shadow: none;
	text-decoration: none;
	svg {
		margin-left: 10px;
		transform: translateY(2.5px);
		path {
			fill:$grey-100;
		}
	}
}

/*================ Hide styles ================*/

.hide {
	display: none;
}

/*================ Images styles ================*/

img[aria-hidden="true"] {
	filter: blur(30px);
}

/*================ Padding styles ================*/

button {
	appearance:none;
	-webkit-appearance:none;
	background: transparent;
	border:none;
	padding: 0px;
	cursor: pointer;
	&:focus {
		outline:none;
	}
}


/*================ Position styles ================*/

.position-relative {
	position: relative;
}

/*================ Display styles ================*/

.flex {
	display: flex;
	@media (max-width: $seven) {
		flex-wrap: wrap;
	}
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-self--start {
	align-self: flex-start;
}

.align-self--center {
	align-self: center;
}

.align-self--bottom {
	align-self: flex-end;
}

.justify-center {
	justify-content: center;
}

.width-100 {
	width: 100%;
}

.width-50 {
	width: 50%;
	@media (max-width: $seven) {
		width: 100%;
	}
}
.direction-r {
	.flex {
		flex-direction: row-reverse;
	}
}

/*================ Height styles ================*/

.height-80 {
	height: 80vh;
}
.height-100 {
	height: 100vh;
}
.height-100f {
	min-height: calc(100vh - 125px);
}

/*================ Padding styles ================*/

.m0 {
	margin: 0px;
}

.mb0 {
	margin-bottom: 0px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb1 {
	margin-bottom: $spacing;
}
.mb2 {
	margin-bottom: $spacing*2;
}

.mt0 {
	margin-top: 0px;
}
.mt20 {
	margin-top: 20px;
}
.mt1 {
	margin-top: $spacing;
}
.mt2 {
	margin-top: $spacing*2;
}

.ma {
	margin:auto;
}
.mla {
	margin-left:auto;
}
.mra {
	margin-right:auto;
}

.ml20 {
	margin-left:20px;
}
.ml1 {
	margin-left:$spacing;
}


.mr1 {
	margin-right:$spacing;
}


/*================ Padding styles ================*/

.p1 {
	padding: $spacing;
}

.pt1 {
	padding-top: $spacing;
}
.pt2 {
	padding-top: $spacing*2;
}
.pt4 {
	padding-top: $spacing*4;
}

.pb1 {
	padding-bottom: $spacing;
}
.pb2 {
	padding-bottom: $spacing*2;
}

.pl20 {
	padding-left: 20px;
	@media (max-width: $seven) {
		padding-left: 0px;
	}
}

.pl1 {
	padding-left: $spacing;
	@media (max-width: $seven) {
		padding-left: 0px;
	}
}
.pl2 {
	padding-left: $spacing*2;
	@media (max-width: $seven) {
		padding-left: 0px;
	}
}

.pr20 {
	padding-right: 20px;
	@media (max-width: $seven) {
		padding-right: 0px;
	}
}
.pr1 {
	padding-right: $spacing;
	@media (max-width: $seven) {
		padding-right: 0px;
	}
}

/*================ Border styles ================*/

.br1 {
	border-right: 1px solid $grey;
	@media (max-width: $seven) {
		border-right: none;
	}
}
.bb1 {
	border-bottom: 1px solid $grey;
}

/*================ Image styles ================*/

.image-full {
	min-height: 100vh;
	object-fit: cover;
	object-position: center center;
}

/*================ Max styles ================*/

.max-375 {
	max-width: 375px;
}
.max-750 {
	max-width: 750px;
}
.max-1000 {
	max-width: 1000px;
}

/*================ Mobile styles ================*/

.m-100 {
	@media (max-width: $seven) {
		width: 100%;
	}
}