/*--------------------------------------------------------------
## HEADER STYLING
--------------------------------------------------------------*/

#masthead {
	position:fixed;
	left:0px;
	top:0px;
	z-index:10;
	display: flex;
	flex-wrap:wrap;
	padding:15px 5px;
	color:#fff;
	height:100vh;
	width: 40px;
}
.header-break {
	position:fixed;
	left:0px;
	top:0px;
	height: 100vh;
	width: 40px;
	border-right: 1px solid rgba(196,196,196,.4);
	z-index: 9;
}
.header-menu {
	writing-mode: vertical-rl;
    display: inline-block;
    opacity: 0;
    .page-link {
    	display: inline-block;
    	margin-bottom: 10px;
    	transform: rotate(180deg);
    	color:#fff;
    	line-height: 30px;
    }
}
.menu {
	&:focus {
		outline:none;
	}
}

.main-navigation {
	.page-link {
		.active {
			color: #000;
		}
	}
}

.secondary-menu {
	.page-link {
		transition: 0.75s ease transform, 0.75s ease opacity; 
		transform: translateY(20px);
		opacity: 0;
		.menu-item {
			transition: 0.75s ease transform;
			&:hover {
				transform:translateX(-30px);
			}
		}
	}
	&.active {
		.page-link {
			opacity: 1;
			transform: none;
		}
	}
}

$num: 1;

@while $num < 50 {
    .secondary-menu .menu__item:nth-of-type(#{$num}) .page-link {
		transition-delay: 0.1s * $num;
    }
    $num: $num + 1;
} 
