/*--------------------------------------------------------------
## IMAGE STYLING
--------------------------------------------------------------*/

.image-2-1 {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.background-image {
  position: absolute !important;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}