/*--------------------------------------------------------------
## PROJECT STYLING
--------------------------------------------------------------*/

.project-preview {
	position: fixed;
	bottom: 0px;
	height: 0vh;
	width: 100%;
}

.project-caption {
	position: absolute;
	z-index: 2;
	left: 80px;
	top: $spacing;
	color:#fff;
}

.project-information {
	position: absolute;
	bottom:$spacing;
	right: $spacing;
	writing-mode: vertical-rl;
    display: inline-block;
    transform:rotate(180deg);
	margin: 0px;
}

.single-project {
	&.half {
		max-width: 50%;
	}
	&.right {
		margin-left: auto;
	}
}