/*--------------------------------------------------------------
## PROJECT STYLING
--------------------------------------------------------------*/

.project-preview {
	position: fixed;
	bottom: 0px;
	height: 0vh;
	width: 100%;
}