/*--------------------------------------------------------------
## PROJECT STYLING
--------------------------------------------------------------*/

/*================ Next Project Preview ================*/

.project-preview {
	position: fixed;
	bottom: 0px;
	height: 0vh;
	width: 100%;
}

/*================ Project Information ================*/

.project-caption {
	position: absolute;
	z-index: 2;
	left: 80px;
	top: $spacing;
	color:#fff;
	pointer-events: none;
	&.l1 {
		left: $spacing;
	}
}

.banner-information{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	.inner {
		left: 80px;
		bottom: $spacing;
		position: absolute;
		overflow: hidden;
		.project-byline {
			z-index: 2;
			color:#fff;
			pointer-events: none;
			line-height: 1;
		}	
	}
}

.project-information {
	position: absolute;
	bottom:$spacing;
	right: $spacing;
	writing-mode: vertical-rl;
    display: inline-block;
    transform:rotate(180deg);
	margin: 0px;
	z-index: 1;
}

/*================ Project Wayfinder ================*/

.single-project {
	&.half {
		max-width: 50%;
	}
	&.right {
		margin-left: auto;
	}
}

/*================ Homepage Project ================*/

.project-title--fixed {
	position: fixed;
	bottom:$spacing;
	left: $spacing*2;
	z-index: 10;
	 
}

.single-project {
	.project-caption {
		opacity: 0;
		transition-duration: 0.75s;
	}
	&:hover {
		.project-caption {
			opacity: 1;
		}
	}
}

/*================ Project Image ================*/
